| SERVICE | STATUS | RESPONSE |
|---------|--------|---------|
| Catalog | 200 | `` |
| Order (POST) | 200 | `` |
| Cart (GET) | 200 | `` |
| Cart (POST) | 200 | `` |
| Gateway | 200 | `` |
| Inventory | 200 | `` |

